#{ {{property}} {{#jdbcType}},jdbcType={{jdbcType}} {{/jdbcType}}{{#typeHandler}} ,typeHandler={{#canonicalName}}{{typeHandler}}{{/canonicalName}}{{/typeHandler}}{{#javaType}},javaType={{#canonicalName}}{{javaType}}{{/canonicalName}}{{/javaType}} }