#{ {{property}} {{#jdbcType}},jdbcType={{jdbcType}} {{/jdbcType}}{{#typeHandler}} ,typeHandler={{typeHandler}}{{/typeHandler}}{{#javaType}},javaType={{#canonicalName}}{{javaType}}{{/canonicalName}}{{/javaType}} }