#{ {{property}}_bind {{#jdbcType}},jdbcType={{jdbcType}} {{/jdbcType}}{{#typeHandler}} ,typeHandler={{#canonicalName}}{{typeHandler}}{{/canonicalName}}{{/typeHandler}}{{#canonicalName}},javaType={{javaType}}{{/canonicalName}} }