SELECT * FROM  {{table}}
<where>
    {{#columns}}
        AND
        {{#if logicDelete}}
            {{column}} != 1
        {{/if}}
        {{#unless logicDelete}}
        	<if test="{{property}} != null">
            	{{column}} = {{>columnHolder}}
            </if>
        {{/unless}}
    {{/columns}}
    {{#each orderColumns}}{{#eq @index 0}}ORDER BY {{/eq}} {{#gt @index 0}},{{/gt}} {{column}} {{orderBy}}{{/each}}
</where>
